body {
  background-image: url('imagens/fundo.png');
}

.navbar {
  display: flex;
  justify-content: flex-end; 
  padding: 10px;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-left: 20px; 
}

.image-container {
  display: flex;
  justify-content: center; 
}

.text-container {
  width: 900px;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.header-container {
  display: flex;
  width: 900px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-bottom: 25px;
  margin-top: 20px;
}